.btn{
    border:none;
    &--primary{
        height: 40px;
        width: 80%;
        color: $white;
        background-color: $color-primary;
        border-radius: $border-radius-max;
    }

    &--secondary{
        height: 40px;
        width: 80%;
        color: $white;
        background-color: $color-secondary;
        border-radius: $border-radius-max;
    }

    &--warning{
        height: 40px;
        width: 25%;
        color: $white;
        background-color: $color-red;
        border-radius: $border-radius-max;
    }

    &--selectable{
        height: 100%;
        width: 100%;
        background-image: url('/../img/icons/add-grey-icon.svg');
        background-size: cover;
    }
    &--selected{
        height: 100%;
        width: 100%;
        background-image: url('/../img/icons/selected-icon.svg');
        background-size: cover;
    }
    &--option{
        height: 100%;
        width: 100%;
        margin: auto;
        background-image: url('/../img/icons/grey-circle-icon.svg');
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;
    }
    &--option-selected{
        height: 100%;
        width: 100%;
        margin: auto;
        background-image: url('/../img/icons/checkmark-icon.svg');
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;
    }
}



