.section {
  padding: $rh-sml 0;

  &--bg {
    @extend %ext-context-dark;
    background: $color-primary;
  }
  &--light {
    background: $white;
  }
  &--dark {
    @extend %ext-context-dark;
    background: $gray-100;
  }
  &--border {
    border-top: 1px solid $gray-25;
  }

  &--default {
    & + & {
      padding-top: 0;
    }
  }
  &--no-padding {
    padding: 0 !important;
  }
  &--xsm {
    padding: $rh-xsm 0;
  }
}
