.hero{
    .hero__details{
        margin-bottom: $rh-sml;

        h1{
            margin-top: $rh-xsm;
        }
        h2{
            margin: 5px;
        }

    }
    .hero--equipment{
        text-align: center;
        position: relative;
        height:30vh;
        width: 30vh;
        margin: auto;

        .hero--avatar{
            height: 100%;
        }
        .hero--weapon{
            height: 20%;
            transform: scaleX(-1);
            position: absolute;
            left: 63%;
            top: 63%;
        }

        .hero--shield{
            height: 20%;
            position: absolute;
            left: 20%;
            top: 70%;
        }
    }



    .active{
        color: $color-secondary;
    }
    .unlocked{
        color: $color-primary;
    }
    .locked{
        color: $gray-25;
    }


}
