$rows: (6, 5, 4, 3, 2, 1) !default;

.home{
    position: relative;
    height: 100vh;
    width: 100vw;
    max-width: $mobile-limit;
    background-color: #53ACBA;
    background-image: url('/../img/map.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    .map{
        height: 100%;
        width: 100%;
        .center--map{
            margin-top: -13vh;
            height: 143vw;
            width: 50vw;
            max-height: 588px;
            max-width: $mobile-limit /2;
            .game__grid{
                height: 100%;
                display: grid;
                grid-template-rows:repeat(6, 1fr);
                grid-template-columns: 1fr;
                .hero--equipment{
                    height: 12vh;
                    width: 12vh;
                    margin: 0;
                    margin-left: -6vh;
                }
                .grid-start {
                    @each $row in $rows {
                        &--#{$row} {
                            grid-row-start:  nth($rows, $row);
                        }
                    }
                }



            }
            .front{
                z-index: 2000;
            }
        }
    }

}

