.childList{
    position: relative;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 0 !important;
        height: 0 !important;
        visibility: hidden;
    }
    .list__item{
        margin-bottom: 11px;
        display: grid;
        grid-template-columns: 2fr 6fr ;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        align-items: center;
        background-color: $white;

        .list__icon{
            text-align: center;
            img{
                height: 40px;
            }
            grid-column-start: 1;
        }
        .list__text{
            line-height: $line-height-xsm;
            padding-right: $grid-gutter-width;
            p{
                margin: 0px;
            }
        }

        .list__button{
            margin: $rh-sml auto 0;
            width: 30%;
            grid-column: span 2;
            border-radius: $border-radius-med;
        }

    }

    .selected{
        box-shadow: 3px 5px 5px $color-secondary;
    }
}
.list--players{
    color: $color-text;
    position: absolute;
    top: $rh-sml;
    right: 0;
    font-size: $font-size-xsm;

    .list__item{
        padding: 3px 10px;
        .list__icon{
            img{
                height: 30px;
            }
        }
    }
    .list__text{
        padding: 0 !important;
        padding-left: 3px;
        line-height: $line-height-xsm;
        *{
            margin: 0;
        }
        align-items: center;
        justify-content: center;
    }
}

.hero-items{
    height: 300px;
}
