.childList{
    .list__item{
        margin-top: 11px;
        display: grid;
        grid-template-columns: 2fr 6fr ;
        width: 100%;
        @extend .container;
        padding-left: 0;
        align-items: center;
        background-color: $white;

        .list__icon{
            text-align: center;
            img{
                height: 40px;
            }
            grid-column-start: 1;
        }

    }

}
.list--players{
    color: $color-text;
    position: absolute;
    top: $rh-sml;
    right: 0;
    font-size: $font-size-xsm;

    .list__item{
        margin-top: 0;
        margin-bottom: 10px;
        padding: 3px 10px;
        .list__icon{
            img{
                height: 30px;
            }
        }
    }
    .list__text{
        padding-left: 3px;
        line-height: $line-height-xsm;
        *{
            margin: 0;
        }
        align-items: center;
        justify-content: center;
    }
}
