.general{
    text-align: center;
    padding-top: 20vh;
    padding-bottom: 10vh;
    background: url("/../img/background-green.svg") center no-repeat;
    background-size: cover;
    min-height: 100vh;

    h1{
        font-size: $font-size-lrg;
    }

    .logo{
        width: 40%;
    }

    .login-logo{
        width: 25%;
    }
    .user-switch{
        margin-top: -10vh;

    }
    .users{
        height: 70vh;
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-width: none;
    }
    .users::-webkit-scrollbar {
        visibility: hidden;
    }

    .user-switcher{
        cursor: pointer;
        margin: auto;
        height: 100px;
        width: 100px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 70%;
        }
    }

    .logout{
        margin-bottom: -5vh;
    }

}

.tutorial {
    text-align: center;
    padding-top: 10vh;

    .tutorial__image{
        height: 30vh;
        margin-bottom: 2vh;
    }

    .tutorial__text{
        height: 30vh;
        padding: 0 4vw;
    }
    .tutorial__steps{
        width: 30%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: auto;
        .step__ball{
            height: 15px;
            width: 15px;
            background-color: $gray-25;
            border-radius: $border-radius-max;
        }
        .selected{
            background-color: $color-primary;
        }
    }

    .tutorial__next{
        margin: auto;
        margin-top: 10vh;
    }
}

.pincode--underlay{
    height: 100vh;
    width: 100vw;
    max-width: $mobile-limit;
    display: none;
    position: absolute;
    top: 0;

}
.pincode{
    display: none;
    margin: auto;
    width: 80%;
    max-width: $mobile-limit - 2*$grid-gutter-width;
    background-color: $white;
    position: absolute;
    top: 20vh;
    .pincodeField{
        text-align: center;
        font-size: $font-size-lrg;
    }
}
