.icon{
    &--time{
        padding-left: 19px;
        background: url('/../img/icons/clock-icon.svg') no-repeat;
        background-size: 13px 13px;
        background-position: 1px 2px;
        &--green{
            padding-left: 19px;
            background: url('/../img/icons/green-clock-icon.svg') no-repeat;
            background-size: 13px 13px;
            background-position: 1px 2px;
        }
    }

    &--back{
        padding-left: 15px;
        background: url('/../img/icons/back-icon.svg') no-repeat;
        background-size: 10px;
        background-position: 0px 3px;
    }
}
