.list{
    .list__item{
        display: grid;
        grid-template-columns: 2fr 9fr 1fr;
        width: 100%;
        @extend .container;
        align-items: center;
        background-color: $white;
        border-bottom: 1px solid $gray-0;
        padding-top: 10px ;
        padding-bottom:10px;

        &--header{
            border-top: 1px solid $gray-0;
        }
        .list__icon{
            grid-column-start: 1;
        }
        .list__next{
            display: flex;
            height: 100%;
            width: 15px;
            justify-self: end;
            align-items: center;
            justify-content: flex-end;
        }

        .grocery__list__header{
            display: grid;
            width: 100%;
            grid-template-columns:8fr 2fr 1fr;
            align-content: center;

        }
    }

    .done{
        background-color: $gray-0;
        border-top: 1px solid $gray-10;
    }


}
.settings--icon{
    height: 20px;
}
