.hidden{
    display: none;
}


ul{
    list-style-image: url('/../img/icons/orange-ball-icon.svg');
    list-style-position: inside;
    padding-left: 0px;
}
ol{
    list-style-position: inside;
    color: white;
    padding-left: 0px;
    list-style-type: decimal;
}


li{
    span{
        margin: 0 10px;
    }
}

ol li {
    background-image: url('/../img/icons/orange-ball-icon.svg');
    background-size: 1.5 * $font-size-sml;
    background-position: 0px 1px;
    background-repeat: no-repeat;
    padding-left: 5px;
    margin-bottom: 12px;
    font-size: $font-size-sml;
    span{
        color: $color-text;
    }
}


.field{
    background: transparent;
    border: none;
    border-bottom: 1px solid $gray-10;
    width: 80%;
    height: 40px;
    padding: 0 10px;
    margin-bottom: 10px;
    &--date{
    }
    &--label{
        color: $color-primary;
    }


}

.width-100{
    max-width: $mobile-limit;
    width: 100%;
}


input[type='range'] {
    overflow: hidden;
    width: 90%;
    -webkit-appearance: none;
    background-color: $gray-10;
    border-radius: 5px;
}

input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: $gray-10;
    margin-top: -1px;
}

input[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    cursor: ew-resize;
    background: $white;
    border: 1px solid $gray-10;
    box-shadow: -300px 0 0 300px $color-primary;
}

/** FF*/
input[type="range"]::-moz-range-progress {
    background-color: $color-primary;
}
input[type="range"]::-moz-range-track {
    background-color: $gray-10;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
    background-color: $color-primary;
}
input[type="range"]::-ms-fill-upper {
    background-color: $gray-10;
}

.rating-faces{
    display: flex;
    justify-content: space-between;
}


.center{
    display: flex;
    align-items: center;
    justify-content: center;
}


.modal-sml{
    max-width: $mobile-limit;
}

