.panel {

  display: block;
  padding: $rh-sml;

  .panel__header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: $rh-sml;
  }

  .panel__title {
    margin: 0;
  }

  .panel__actions {
    margin-top: $rh-xxs;
    margin-bottom: $rh-xxs;
    margin-left: auto;
    flex: 0 1 auto;
  }

  .panel__main {

    th, td {
      vertical-align: middle;
    }
  }

  // @include breakpoint(map-get($breakpoints, med), max-width) {

  //   .panel__header {
  //     flex-flow: row wrap;
  //   }

  //   .panel__actions {
  //     flex: 1 1 100%;
  //     margin-top: $rh-xxs;
  //   }
  // }
}

.panel--light {
  background: $white;
  border: 2px solid $gray-0;
  border-radius: 4px;
}
