.panel {

  display: block;
  padding: $rh-xsm;

  .panel__header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: $rh-sml;
  }

  .panel__title {
    margin: 0;
  }

  .panel__actions {
    margin-top: $rh-xxs;
    margin-bottom: $rh-xxs;
    margin-left: auto;
    flex: 0 1 auto;
  }

  .panel__main {

    th, td {
      vertical-align: middle;
    }
  }
    .panel__image{
        width: 100%;
        img{
            width: 100%;
        }
    }

    .panel__overlay{
        font-size: $font-size-med;
        line-height: $line-height-sml;
        float: left;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1000;
        padding: 10px;
        color: $white;
        width: 100%;
        background: linear-gradient(
                to bottom,
                rgba(0, 0, 0, 0),
                rgba(0, 0, 0, 0.3)
        );

    }

  // @include breakpoint(map-get($breakpoints, med), max-width) {

  //   .panel__header {
  //     flex-flow: row wrap;
  //   }

  //   .panel__actions {
  //     flex: 1 1 100%;
  //     margin-top: $rh-xxs;
  //   }
  // }
}

.panel--light {
  background: $white;
  border: 2px solid $gray-0;
  border-radius: 4px;
}

.panel--shadow {
    background: $white;
    border-radius: $border-radius-lrg;
    box-shadow: 0px 8px 10px rgba(0,0,0,0.07);
}

.masonry__item{

    width: 48%;
    margin: 1%;
}

.panel--masonry{

    overflow: hidden;
    padding: 0px;
    border-radius: $border-radius-lrg;
}


