.grocery{

    .grocery__icon--sml{
        width: 35px;
    }

    .grocery__planning{
        display: grid;
        width: 100%;
        grid-template-columns:2fr 8fr 1fr;
        align-items: center;
    }

     .grocery__planning input:checked ~ .btn--radio{
         @extend .btn--option-selected;
         height: 100%;
         width: 100%;
     }

}

