.adultHeader{
    z-index: 1000;
    position: sticky;
    top: 0;
    background-color: $color-primary;
    background-image: url('/../img/background.png');
    background-position: center;
    margin: 0;
    color: $color-contrast;
    *{
        margin: 0;
    }
}
.adultHeader__options{
    height: 50px;
    display: flex;
    align-items: center;
}
.adultHeader__Back{
    text-decoration: none;
    color: $color-contrast !important;
}

.icon__header{
    height: 30px;
}
