.adultNavigation{
    font-size: $font-size-xsm;
    border-top: 1px solid $gray-10;
    background-color: $color-contrast;
    z-index: 1020;
    position: fixed;
    bottom: 0;
    width: 100vw;
    max-width: $mobile-limit;
    padding: 10px 0 10px ;
    height: 70px;
    *{
        margin: 0;
    }

    .nav__options{
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    .nav__item{
        a, a:visited, a:hover, a:active{
            color: $color-grey;
        }
        &.active a{
            color: $color-primary;
        }

        align-self: center;
        text-align: center;
        width: 80%;
    }

    .nav__img{
        width: 20px;
    }

}


.adultPage{
    padding-bottom: 70px;
}
