.quest{
    .submit__bottom{
        bottom: 90px;
        position: absolute;
        max-width: $mobile-limit - (2* $grid-gutter-width);
    }

    .header__button{
        padding: 10px;
        width: 100%;
        position: absolute;
        top: 0;
        direction: rtl;

        .btn--select{
            @extend .btn--selectable;
            height: 30px;
            width: 30px;
        }

        input:checked ~ .btn--select{
            @extend .btn--selected;
            height: 30px;
            width: 30px;
        }


    }



}
.date__popup{

}
