.quest{
    .form--bottomSubmit{
        position: relative;
        margin-bottom: 40px;
    }
    .submit__bottom{
        bottom: 85px;
        position: fixed;
        width: 90%;
        max-width: $mobile-limit - (2* $grid-gutter-width);
        z-index: 2000;
    }

    .header__button{
        padding: 10px;
        width: 100%;
        position: absolute;
        top: 0;
        direction: rtl;

        .btn--select{
            @extend .btn--selectable;
            height: 30px;
            width: 30px;
        }

        input:checked ~ .btn--select{
            @extend .btn--selected;
            height: 30px;
            width: 30px;
        }


    }



}
.date__popup{

}
